@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --bg-color: #FFFFFF;
    --secondary-bg-color: #6e6e6ee7;
    --primary-color: #970707;
    --secondary-color: #000000c7;
    --primary-text-color: #1B1717;
    --secondary-text-color: #f3f2eb;
    --faded-text-color: #6b645d99;
    --primary-btn-color: #f3f2eb;
    --secondary-btn-color: #f3f2eb;
    --selection-color: #e4e5e883;
}

body.dark {
    --bg-color: #31352E;
    --secondary-bg-color: #6e6e6ee7;
    --primary-color: #778A35;
    --secondary-color: #D1E2C4;
    --primary-text-color: #f3f2eb;
    --secondary-text-color: #f3f2eb;
    --faded-text-color: #6b645d99;
    --primary-btn-color: #f3f2eb;
    --secondary-btn-color: #000000c7;
    --selection-color: #e4e5e883;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "inter", sans-serif!important;
}

::selection {
    background-color: var(--selection-color);
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}
.loader:before, .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
    .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%, 100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px 40px;
}



.logo-title {
    flex: 1;
    margin: 0px 0px 0px 110px;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 2rem;
    animation-duration: 1s;
    animation-name: animate-title;
    animation-iteration-count: 1;;
}

@keyframes animate-title {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
    }
}

.logo-title span {
    color: var(--primary-color);
    font-size: 38px;
}

span {
    font-family: fantasy;
    font-weight: bold; 
}

#active {
    color: var(--primary-color);
}


.nav-div ul {
    display: flex;
    list-style: none;
    margin: 0px 50px 0px 20px;
    
}

.nav-div ul li {
    margin: 20px 30px 20px 40px;
    animation-name: animate-nav-links;
    animation-duration: 1s;
    animation-iteration-count: 1;
    display: flex;
    align-items: center;
}

.nav-div ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 16px;
    
}

@keyframes animate-nav-links {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
    }

}

.nav-div ul li a:hover {
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.slider-container {
  text-align: center;
  padding: 0px 20px;
  margin-left: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 0px;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--secondary-bg-color);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-text-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}




#nav-sun {
    position: relative;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    color: var(--primary-text-color);
    font-size: 24px;
}
#nav-moon {
    position: relative;
    top: 10px;
    left: 15px;
    width: 24px;
    height: 24px;
    color: var(--primary-text-color);
    font-size: 24px;
}

.sub-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: var(--primary-color);
    display: inline-block;
    font-size: 1.1em;
}

.title{
    font-size: 3.3em;
    margin-top: 8px;
    color: var(--primary-text-color);
}

.services-main {
    
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    background: linear-gradient(to top, #0a2d551c, var(--bg-color));

}

.main-container {
    display: flex;
    flex-direction: column;
}

.main-text-container {
    position: absolute;
    width: 100%;
}


.main-title {
    text-align: center;
    margin-top: 100px;
    font-size: 4.5em;
    font-weight: bold;
    color: var(--primary-text-color);
}

.main-head-sub-title-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    height: 80px;
    width: 100%;

}

.main-head-sub-title-content {
    
    background-color: rgba(189, 189, 189, 0.329);
    width: 200px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main-head-sub-title {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin: 10px;
}

.main-head-sub-title a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.main-img-container {
    margin-top: 200px;
}

.main-service-description {
    width: 60%;
    text-align: center;
    display: flex;
    align-self: center;
    justify-self: center;
    color: var(--faded-text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.main-service-description:hover {
    color: var(--primary-text-color);
}


.stats-container {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.stats-card-container {
    height: 400px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stats-satisfaction-rate {
    border: 1px solid #0a2d551c;
    background-color: white;
    border-radius: 10px;
    height: 220px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #0a2d551c;
    color: #F76766;
}


.stats-employes {
    border: 1px solid #0a2d551c;
    background-color: white;
    border-radius: 10px;
    height: 220px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #0a2d551c;
    color: #265FDB;
}

.stats-projects {
    border: 1px solid #0a2d551c;
    background-color: white;
    border-radius: 10px;
    height: 220px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #0a2d551c;
    color: #A666F7;
}

.stats-clients {
    border: 1px solid #0a2d551c;
    background-color: white;
    border-radius: 10px;
    height: 220px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px #0a2d551c;
    color: #57C0CE;
}


.stats-content {
    text-align: center;
    font-size: 28px;
    height: 120px;
    cursor: pointer;
}

.stats-content p{
    font-size: 16px;
    margin-top: 5px;
    color: var(--faded-text-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.stats-content p:hover{
    color: var(--primary-text-color);
}



.our-company-content {
    background: url('/src/services/images/company_shape.png');
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #2b3552;
}

.top-content {
    height: 50%;
    width: 100%;
    border: 0px solid transparent;

}

.our-company-sub-title {
    text-align: center;
    font-size: 1.5em;
    color: var(--primary-text-color);
    padding-top: 100px;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    font-size: 3em;
    color: var(--secondary-text-color);
    margin-top: 30px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 50%;
}

.description {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description p {
    color: var(--faded-text-color);
    width: 40%;
    text-align: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.description p:hover {
    color: var(--secondary-text-color);
}






.computer-3d {
    width: 800px;
    height: 500px;
    margin-left: -100px;
    margin-top: -50px;
}



.lower-content {
    height: 50%;
    display: flex;
    flex-direction: row;

}

.check-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 80px;

}

.check-header {
    margin-top: 40px;
    font-size: 1.5em;
}

.check-header h2 {
    background: linear-gradient(to right, #6071D9, #8b067a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    width: 350px;
}

.check-lines {
    margin-top: 30px;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.check-lines ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.check-lines ul li{
    margin-top: 15px;
    color: var(--faded-text-color);
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.check-lines ul li:hover {
    color: var(--secondary-text-color);
}

.our-company-btn {
    margin-top: 50px;
}

.our-company-btn button {
    width: 170px;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    color: var(--secondary-text-color);
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.our-company-btn button:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-text-color);
    transform: translateY(-10px);
}

.check-lines ul li p{
    margin-left: 25px;
}






.service-area {
    margin-top: 100px;
    height: 500px;
    width: 100%;;
}
.container {
    height: 600px;
    margin: 0 120px 0 120px;
}

.row {
    margin: 0 50px 0 50px;
    text-align: center;
}

.sub-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: var(--primary-color);
    display: inline-block;
    font-size: 1.1em;
}

.service-title{
    font-size: 3.3em;
    margin-top: 8px;
    color: var(--primary-text-color);
}

.cards{
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.service-description {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}


.service-description p{
    color: var(--faded-text-color);
    width: 700px;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.service-description p:hover {
    color: var(--primary-text-color);
}

.service-card {
    border: 1px dotted #0a2d5511;
    border-radius: 23px;
    background-color: var(--bg-color);
    box-shadow: -20px -30px 15px var(--bg-color), 5px 5px 15px #0a2d551c;
    display: inline-block;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: animate-service-card 1s linear 1;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}


@keyframes animate-service-card {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

.service-card p {
    margin-top: 15px;
    color: var(--primary-text-color);
    transition: all 0.3s ease-in-out;
}


.card-img {
    height: 95px;
    width: 95px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b81d1a1a;
    border-radius: 50%;
}

#web-card-img img{
    height: 70px;
    width: auto;
    transform: translate3d(-20px, 20px, 0px);
    transition: all 0.6s ease-in-out;

}

#app-card-img {
    background-color: #6060c21a;
}

#app-card-img img {
    height: 100px;
    transform: translate3d(20px, 20px, 0px);
    transition: all 0.6s ease-in-out;
}

#ai-card-img {
    background-color: #ffd90034;
}

#ai-card-img img {
    height: 100px;
    transform: translate3d(-25px, -30px, 0);
    transition: all 0.6s ease-in-out;
}

#iot-card-img {
    background-color: #b64cd61a;
    
}

#iot-card-img img {
    height: 100px;
    transform: translate3d(25px, -30px, 0);
    transition: all 0.6s ease-in-out;
}

.service-card:hover #app-card-img img{
    transform: translate3d(0px, 0px, 0px);
}

.service-card:hover #web-card-img img{
    transform: translate3d(0px, 0px, 0px);
    
}

.service-card:hover #ai-card-img img {
    transform: translate3d(0, 0, 0);
}

.service-card:hover #iot-card-img img{
    transform: translate3d(0, 0, 0);
}


.card-content {
    margin: 30px 25px 0 25px;
    text-align: center;
}

.card-content h3 {
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.card-content h3:hover {
    color: var(--primary-color);
}

.card-content p{
    color: var(--faded-text-color);
    line-height: 26px;
}

.service-card:hover p{
    color: var(--primary-text-color);
    
}





















































.subscription {
    margin-top: 500px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscription span {
    margin-bottom: 50px;
    width: 500px;
    text-align: center;
    align-self: center;
}

.subscription-container {
    background-image: url('/images/subscription-bg.png');
    background-size: contain; 
    height: 70%;
    width: 80%;
    align-self: center;
}



.subscription-header {
    text-align: center;
}

.subscript-title {
    font-size: 2.5em;
    color: var(--primary-text-color);
    font-weight: bold;
}


.subscription-form {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
}

.subscription-input {
    width: 600px;
    height: 55px;
    border-radius: 35px;
    padding-left: 20px;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--secondary-text-color);
    border: none;
    box-shadow: 5px 5px 10px #0a2d551c;
    text-align: center;
}

.subscription-input:focus {
    outline: none;
}

.subscription-btn {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--primary-btn-color);
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}
.subscription-btn:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-btn-color);
    border: none;
}


footer {
    margin-top: 50px;
    background-color: var(--primary-color);
}

.footer-page {
    height: 350px;
    width: 100%;
    background-color: var(--primary-color);
}

.footer-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-line {
    height: 2px;
    width: 90%;
    background-color: var(--secondary-text-color);
    align-self: center;
}

.footer-bar {
    height: 60px;
    background: var(--primary-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding-top: 20px;
}

.heart {
    color: var(--secondary-text-color);
}



.footer {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    flex-wrap: wrap;
}

#footer-title {
    font-weight: normal;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.footer-column a {
    color: var(--secondary-text-color);
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
}

.footer-column p {
    margin-left: -40px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-social p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 24px;
    padding-top: 6px;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    border-radius: 20%;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    color: var(--primary-color);
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    transform: translateY(-10px);
}



