@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

:root {
    --bg-color: #FFFFFF;
    --secondary-bg-color: #6e6e6ee7;
    --primary-color: #970707;
    --secondary-color: #000000c7;
    --primary-text-color: #1B1717;
    --secondary-text-color: #f3f2eb;
    --faded-text-color: #6b645d99;
    --primary-btn-color: #f3f2eb;
    --secondary-btn-color: #f3f2eb;
    --selection-color: #e4e5e883;
}

body.dark {
    --bg-color: #31352E;
    --secondary-bg-color: #6e6e6ee7;
    --primary-color: #778A35;
    --secondary-color: #D1E2C4;
    --primary-text-color: #f3f2eb;
    --secondary-text-color: #f3f2eb;
    --faded-text-color: #6b645d99;
    --primary-btn-color: #f3f2eb;
    --secondary-btn-color: #000000c7;
    --selection-color: #e4e5e883;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-text-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: "inter", sans-serif!important;
}

::selection {
    background-color: var(--selection-color);
}

.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
}
.loader:before, .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}
    .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%, 100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.sub-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    color: var(--primary-color);
    display: inline-block;
    font-size: 1.1em;
}

.title{
    font-size: 3.3em;
    margin-top: 8px;
    color: var(--primary-text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px 40px;
}



.logo-title {
    flex: 1;
    margin: 0px 0px 0px 110px;
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 2rem;
    animation-duration: 1s;
    animation-name: animate-title;
    animation-iteration-count: 1;;
}

@keyframes animate-title {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
    }
}

.logo-title span {
    color: var(--primary-color);
    font-size: 38px;
}

span {
    font-family: fantasy;
    font-weight: bold; 
}

#active {
    color: var(--primary-color);
}


.nav-div ul {
    display: flex;
    list-style: none;
    margin: 0px 50px 0px 20px;
    
}

.nav-div ul li {
    margin: 20px 30px 20px 40px;
    animation-name: animate-nav-links;
    animation-duration: 1s;
    animation-iteration-count: 1;
    display: flex;
    align-items: center;
}

.nav-div ul li a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 16px;
    
}

@keyframes animate-nav-links {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
    }

}

.nav-div ul li a:hover {
    color: var(--primary-color);
    transition: all 0.2s ease-in-out;
}

.slider-container {
  text-align: center;
  padding: 0px 20px;
  margin-left: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 0px;
  
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: var(--secondary-bg-color);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--secondary-text-color);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(26px);
}




#nav-sun {
    position: relative;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    color: var(--primary-text-color);
    font-size: 24px;
}
#nav-moon {
    position: relative;
    top: 10px;
    left: 15px;
    width: 24px;
    height: 24px;
    color: var(--primary-text-color);
    font-size: 24px;
}




.main-container {
    width: 100%;
}


.floating-bg {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.float-img {
  position: absolute;
  width: 30px;
}

.img1 {
  top: 30%; left: 20%;
  animation-delay: 0s;
  animation: floatLoop-1 8s linear infinite;
}

.img2 {
  top: 40%; left: 70%;
  animation-delay: 0s;
  animation: floatLoop-2 8s linear infinite;
}

@keyframes floatLoop-1 {
  0%   { transform: translate(0px, 0px); }
  25%  { transform: translate(40px, -40px); }
  50%  { transform: translate(60px, 30px); }
  75%  { transform: translate(30px, 50px); }
  100% { transform: translate(0px, 0px); }
}

@keyframes floatLoop-2 {
  0%   { transform: translate(0px, 0px); }
  25%  { transform: translate(-40px, 40px); }
  50%  { transform: translate(30px, 60px); }
  75%  { transform: translate(50px, 30px); }
  100% { transform: translate(0px, 0px); }
}

.main-title {
    text-align: center;
    margin-top: 100px;
    font-size: 4.5em;
    font-weight: bold;
    color: var(--primary-text-color);
    position: relative;
    z-index: 1;
}

.main-head-sub-title-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 30px;
    height: 80px;
    width: 100%;

}

.main-head-sub-title-background {
    background-color: rgba(189, 189, 189, 0.329);
    width: 200px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.main-head-sub-title {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin: 10px;
}

.main-head-sub-title a{
    text-decoration: none;
    color: var(--primary-text-color);
}

.content-background {
    background: linear-gradient(to top, var(--bg-color), #F3FAFF, var(--bg-color));
}

.content {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    margin: 100px 0 0 150px;
    width: auto;  
}

.content-text {
    width: 40%;
}

.content-header {
    font-size: 2.2em;
    color: var(--primary-text-color);
    font-weight: bold;
    margin-bottom: 20px;
    width: 100%;
}

.content-description {
    color: var(--faded-text-color);
    margin-top: 50px;
    text-align: start;
    line-height: 1.6;
}

.content-cards {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content-cards-lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.content-cards-higher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}

.card {
    width: 220px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--bg-color);
    margin: 20px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.card-img {
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 0;
}

#card-1-img {
    display: flex;
    flex-direction: row;
    align-self: start;
    bottom: 0px;
}

#card-2-img {
    display: flex;
    flex-direction: row;
    align-self: start;
    bottom: 0px;
}

#card-3-img {
    display: flex;
    flex-direction: row;
    align-self: end;
    bottom: 0px;
}

#card-4-img {
    display: flex;
    flex-direction: row;
    align-self: start;
    bottom: 0px;
}

.card-text {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
    font-family: Poppins, sans-serif;
}

#card-1-number {
    color: #f76766;
}

#card-2-number {
    color: #57C0CE;
    
}

#card-3-number {
    color: #265FDB;
}
#card-4-number {
    color: #A666F7;
}

.card-description {
    color: var(--faded-text-color);
    text-align: center;
    font-size: 1em;
    width: 100px;
    display: flex;
    justify-self: center;
    align-self: center;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.card-description:hover {
    color: var(--primary-text-color);
}


























.subscription {
    margin-top: 500px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subscription span {
    margin-bottom: 50px;
    width: 500px;
    text-align: center;
    align-self: center;
}

.subscription-container {
    background-image: url('/images/subscription-bg.png');
    background-size: contain; 
    height: 70%;
    width: 80%;
    align-self: center;
}



.subscription-header {
    text-align: center;
}

.subscript-title {
    font-size: 2.5em;
    color: var(--primary-text-color);
    font-weight: bold;
}


.subscription-form {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 50px;
}

.subscription-input {
    width: 600px;
    height: 55px;
    border-radius: 35px;
    padding-left: 20px;
    font-size: 16px;
    color: var(--primary-text-color);
    background-color: var(--secondary-text-color);
    border: none;
    box-shadow: 5px 5px 10px #0a2d551c;
    text-align: center;
}

.subscription-input:focus {
    outline: none;
}

.subscription-btn {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--primary-btn-color);
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
}
.subscription-btn:hover {
    background-color: var(--secondary-color);
    color: var(--secondary-btn-color);
    border: none;
}


footer {
    margin-top: 50px;
    background-color: var(--primary-color);
}

.footer-page {
    height: 350px;
    width: 100%;
    background-color: var(--primary-color);
}

.footer-divider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.footer-line {
    height: 2px;
    width: 90%;
    background-color: var(--secondary-text-color);
    align-self: center;
}

.footer-bar {
    height: 60px;
    background: var(--primary-color);
    color: var(--secondary-text-color);
    text-align: center;
    padding-top: 20px;
}

.heart {
    color: var(--secondary-text-color);
}



.footer {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px 20px;
    flex-wrap: wrap;
}

#footer-title {
    font-weight: normal;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.footer-column h3 {
    margin-bottom: 15px;
    font-size: 20px;
}

.footer-column a {
    color: var(--secondary-text-color);
    text-decoration: none;
    margin: 5px 0;
    font-size: 14px;
}

.footer-column p {
    margin-left: -40px;
}

.footer-column a:hover {
    text-decoration: underline;
}

.footer-social p {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 24px;
    padding-top: 6px;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    border-radius: 20%;
    transition: all 0.3s ease-in-out;
}

.icon:hover {
    color: var(--primary-color);
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-text-color);
    transform: translateY(-10px);
}
